# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
app/.venv/
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
.env

# pytest cache
.pytest_cache/